.header {
  background-color: mediumaquamarine;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.button {
  background-color: azure;
  border-radius: 10px;
  padding: 8px 5px;
  margin-right: 10px;
  font-weight: bold;
  border: 5px solid;
  color: green;
}
.searchLine {
  margin-right: 50px;
  border: 5px solid;
  border-radius: 10px;
  border-color: green;
}
.goods-list {
  display: flex;
  justify-content: space-around;
}
.goods-item {
    margin-top: 10px;
    border: 1px solid green;
    background-color: aquamarine;
}
.goods-item h3 {
  color: green;
  font-size: 30px;
}
.goods-item p {
  text-align: center;
  font-weight: 900;
  color: green;
}
